fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

pydantic
pydantic-settings

python-multipart

pandas
openpyxl

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-dotenv

reportlab

google-generativeai

email-validator

aiofiles

requests

pytest
httpx
apscheduler
pdfplumber
pytesseract
Pillow
